@model EFLayer.Class.Iletisim

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UILayout.cshtml";
}
<div>
    <div class="col-md-15">
        <div class="contact-form bg-dark">
            <h1 class="text-white add-letter-space mb-5">İletişim Adresi</h1>
            <div class="col-md-12">
                <label for="message" class="text-black-300">Adres</label>
                <div class="form-group mb-5">
                    @Html.TextAreaFor(model => model.Adres, new { @class="form-control bg-transparent rounded-0 border-bottom shadow-none pb-15 px-0", @rows = 3, @readonly = "readonly" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group mb-5">
                    <label for="message" class="text-black-300">Telefon</label>
                    <input type="text" id="telefon" class="form-control bg-transparent rounded-0 border-bottom shadow-none pb-15 px-0"value="@Model.Telefon" readonly>
                    
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group mb-5">
                    <label for="message" class="text-black-300">email</label>
                    <input type="email" id="email" class="form-control bg-transparent rounded-0 border-bottom shadow-none pb-15 px-0" value="@Model.Mail" readonly>
                    
                </div>
            </div>
        </div>
    </div>
</div>