@model EFLayer.Class.User

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<!-- Default box -->
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Kullanıcı Ekle</h3>

						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
								<i class="fas fa-minus"></i>
							</button>
							<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
								<i class="fas fa-times"></i>
							</button>
						</div>
					</div>
					<div class="card-body">
						<form asp-action="Create">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="form-group">
								<label asp-for="Name" class="control-label">Ad</label>
								<input asp-for="Name" class="form-control" />
							</div>
							<div>
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>
							
							<div class="form-group">
								<label asp-for="SurName" class="control-label">Soyad</label>
								<input asp-for="SurName" class="form-control" />
								<span asp-validation-for="SurName" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="UserAdi" class="control-label">Kullanıcı Adı</label>
								<input asp-for="UserAdi" class="form-control" />
							</div>
							<div>
								<span asp-validation-for="UserAdi" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Password" class="control-label">Şifre</label>
								<input asp-for="Password" class="form-control" />
							</div>
							<div>
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>
							@* <div class="form-group">
								<label asp-for="RoleId" class="control-label">Yetki Id</label>
								<input asp-for="RoleId" class="form-control" />
							</div> *@
							<div class="form-group">

								<label asp-for="RoleId" class="control-label">Yetki</label>
								@* <select asp-for="kategoriId" class="form-control" asp-items="ViewBag.Kategoriler"></select> *@

								@Html.DropDownList("RoleId", new List<SelectListItem>
								{
								new SelectListItem { Text = "Kullanıcı Yetkisi", Value = "0" },
								new SelectListItem { Text = "Admin Yetkisi", Value = "1" },
								new SelectListItem { Text = "Giriş Yasağı", Value = "2" }
								}, new { @class = "form-control" })
								<span asp-validation-for="RoleId" class="text-danger"></span>
							</div>
							<div>
								<span asp-validation-for="RoleId" class="text-danger"></span>
							</div>
							<div class="form-group">
								<input type="submit" value="Oluştur" class="btn btn-primary" />
							</div>

							<div>
								<a asp-action="Index" class="btn btn-warning">Listeye Geri Dön</a>
							</div>


						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
