@model IEnumerable<EFLayer.Class.Gonderiler>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">


				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Gönderi Bilgileri</h3>
					</div>

					<div class="card-body">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Gönderi Adı</th>
									<th></th>
								</tr>

							</thead>
							<tbody>

								@foreach (var item in Model)
								{
									<tr>
										<td>
											@Html.DisplayFor(modelItem => item.GonderiName)
										</td>
										<td>
											<div style="float:right">
												<a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.GonderiId">Düzenle</a>
												<a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.GonderiId">Sil</a>

											</div>
										</td>
									</tr>
								}

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	$(function () {
		$("#example1").DataTable({
			"responsive": true, "lengthChange": false, "autoWidth": false,
			"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
		}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
		$('#example2').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": false,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true,
		});
	});
</script>







