@*  @model List<EFLayer.Class.Gonderiler>

@if (ViewData["songonderi"] as List<EFLayer.Class.Gonderiler> != null)
{
    @foreach (var item in ViewData["songonderi"] as List<EFLayer.Class.Gonderiler>)
    {
        <a class="d-block " href="/Gonderis/Edit/@item.GonderiId">@item.GonderiResim</a>

    }
}  *@